*{padding: 0;margin: 0;}
body{}
img{width: 100%;height: auto;display: block;}

/*the man css is start*/
.section-1{
	width: 100%;
	background: #E2E2E2;
}
.contaner {
    /*padding-right: 45px;*/
    /*padding-left: 48px;*/
    padding: 0 50px;
}

.header{
	height: 136px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{width: 35%;}
.logo h1{
	font-size: 28px;
	color: #505050;
}
.logo p{}

.menu{
	width:60%;
	height: 55px;
	background: #e2494b;
	border: 1px solid #e2494b;
	border-radius: 10px;
}
.menu ul{
	padding: 18px 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.menu ul li{}
.menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}
.menu ul li a:hover{color: #ee9395;} 
/*----------------------------------Section-1 end------------------------------*/


.section-9{
	background: #e2e2e2;
	width: 100%;
}
.footer-1{}
.project{}
.project h1, .company h4, .contact h4 {
    font-size: 22px;
    color: #333333;
    padding-top: 20px;
    text-align: center;
}
.project-1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}
.project-1 img {
    width: 120px;
    height: 120px;
    border: 1px solid #8e8f8a;
    padding: 5px;
}
.project-text, .contact{padding: 0 25px;}
.project-text h4{font-size: 18px;color: #e2494b;}
.project-text p{font-size: 16px;color: #999999;}
.company{}
.company-text {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 28px;
}
.company-1{
	font-size: 16px;
	color: #999999;
}
/**/
.contact-form {
    text-align: center;
}

input[type="text"]{margin: 20px 0 10px;}
input[type="text"],input[type="Email"] {
    width:50%;
    height: 32px;
    padding: 5px;
    box-sizing: border-box;
    background: #E2E2E2;
    border: 1px solid #a6a6a6;
}
textarea {
    width:50%;
    padding: 5px;
}

input[type="SUBMIT"] {
    width:25%;
    height: 36px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    transition: 0.4s;
}
input[type="SUBMIT"]:hover{background: #e2494b;}
input[type="SUBMIT"], textarea,input[type="Email"]{
	margin: 10px 0;
	background: #E2E2E2;
} 
.text-start, .text-end{
   color: #999999;
    padding: 15px 0;
}

/*footer-1 ends*/